*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #6d747b;
}
a{
    text-decoration: none;
}
/* ----------NAVIGATION */
.nav{
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.logo{
    float: left;
    margin: 0px 0px 0px 30px;
}
.logo svg{
    width: 20px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}
.logo  a svg:hover{
    background-color: #145dac;

}

.menu{
    margin: 0 100px 0 0;
    width: 100%;
 

}

.menu a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 20px;
    clear: right;
}

.menu a:hover{
    color: #145dac;
}


label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    border: 2px solid red;
}
#toggle{
    display: none;
}


/* ----------NAVIGATION   ENDS HERE*/

/* --------------SUB-DIV STARTS HERE */



/* --------------SUB-DIV ENDS HERE */






























































/* ----------MEDIA QUERY */
@media (max-width: 600px){
    
/* NAVIGATION START HERE */

label{
    display: block;
    cursor: pointer;
}

.logo{
    float: left;
    margin: 0px;
    height: 65px;
    padding: 0px 5px;
}
.logo svg{
    width: 20px;
    height: 15px;
 
 
}
.logo  a svg:hover{
    background-color: #145dac;

}
.menu{
    text-align: center;
    width: 100%;
    display: none;
}
.menu a{
    display: block;
    color: white;
    padding: 5px 5px;
    text-align: start;
    width: 40%;
    margin: 0px;
}
#toggle:checked + .menu{
    display: block; 

}

/* NAVIGATION ENDS HERE */
}