*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: blue;
    height:600vh;
}
a{
    text-decoration: none;
}
/* ----------NAVIGATION */
.nav{
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.logo{
    float: left;
    margin: 0px 0px 0px 90px;
}
.logo svg{
    width: 20px;
    height: 35px;
    margin-top:18px;
    cursor: pointer;
}


.menu{
    margin: 0 100px 0 0;
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 20px;
    clear: right;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu a:hover{
    color: red;
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}

/* ----------NAVIGATION   ENDS HERE*/
/* ----------PROFILE STARST HERE */
.profile{
   margin-top: 20px;
}
.profile h1{
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* ----------PROFILE ENDS HERE */

/* --------------SUB-DIV STARTS HERE */
.sub-div{
    height: 460vh;
    background-color: white;
    margin: 0px 90px;
    box-shadow: rgb(158, 167, 177 ,0.3) ;
    border: 4px solid black;
}


/* --------------SUB-DIV ENDS HERE */


/* -------------BANNNER STARTS HERE */

.banner img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-text{
    width: 30%;
    position: absolute;
    top: 370px;
    left: 120px;
    color: cornsilk;
}
.banner-text h1{
    font-size: 30px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner-text p{
    font-size: 12px;
    line-height: 1.5rem;
    padding: 5px 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner-text button{
    font-size: 10px;
    padding: 4px;
    background: transparent;
    border: 2px solid white;
    color: cornsilk;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* --------------BANNER ENDS HERE */

/* --------------ABOUT STARTS HERE */
.about{
    /* border: 2px solid red; */
   height: 70vh;
   display: flex;
}
.abouttext{
    display: 4;
    width: 70%;
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.abouttext-first h1{
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abouttext-second h4{
    margin-top: 10px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(51, 50, 50);
    font-size: 20px;
}
.abouttext-third p{
    margin-top: 10px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5rem;
    color: grey;
}
.abouttext-button{
    display: flex;
    margin-top: 15px;
}
.abouttext-button-left button{
    background-color: rgb(21, 81, 172);
    width: 120px;
    color: white;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    outline: none;

}
.abouttext-button-right button{
    background-color: rgb(21, 81, 172);
    width: 80px;
    color: white;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    outline: none;
    margin-left: 5px;
}
.aboutimg{
    display: 2;
    width: 50%;
    margin: 20px 55px 20px 0px;
}
.aboutimg img{
    width: 100%;
    height: 100%;
}
/* --------------ABOUT ENDS HERE */

/* --------------SERVICES STARTS HERE */

.services{
    height: 65vh;
    background-color: rgba(128, 128, 128, 0.111);
}
.servicetext h1{
    height: 10vh;
    margin: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.servicetext-sub{
    height: 45vh;
    margin: 20px;
    display: flex;
}
.servicetext-sub-three{
    flex: 2;
    box-shadow: 2px 2px 12px rgba(83, 83, 83, 0.2);
    margin-right: 25px;
    background-color: white;
}
.service-detail{
    height: 44vh;


}
.service-detail-icon{

}
.service-detail-header h1{
    font-size: 20px;
    text-align: center;
    color: rgb(51, 50, 50);

}
.service-detail-text{
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    padding: 10px;
    color: grey;
}
/* ---------------SERVICES ENDS HERE */


/* -----------SKILLS STARTS HERE */
.skill{
    background-color: white;
    height:70vh;
    /* border: 4px solid blueviolet; */
    display: flex;
 
}

.skill-left{
    /* border: 2px solid red; */
    flex: 3;
    margin: 20px 10px 20px 15px;
}
.skill-left-first h1{
    
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skill-left-second{
    margin-top: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    color: grey;
}
.skill-left-third{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.skill-left-third p{
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5rem;
    color: black;
}

.emptyone{
height: 10px;
width: 70%;
margin-bottom:15px;
background-color: red;

}
.emptytwo{
    height: 10px;
    width: 65%;
    margin-bottom: 15px;
    background-color: royalblue;
   
 }

.emptythree{
        height: 10px;
        width: 50%;
        margin-bottom: 15px;
        background-color: tomato;
        
}

   
.skill-right{
    /* border: 2px solid blue; */
    flex: 3;
    margin: 20px;
    display: block;

}

.skill-right-first{
    display: flex;
    /* border: 2px solid red; */
    height: 25vh;
   margin-top: 50px;
}
.skill-right-first-box{
    /* border: 2px solid blue; */
    flex: 2;
    text-align: center;
}
.skill-right-first-box img{
    width: 30%;
   
}
.skill-right-first-box h1{
    font-size: 30px;
}

.skill-right-first-box p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skill-right-second p{
    color: grey;
    font-size: 12px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.3rem;
    
}

/* -----------SKILLS ENDS HERE */

/* -------PROJECTS STARTS HERE */

.project{
    background-color: rgba(128, 128, 128, 0.111);
    display: block;
    height: 75vh;
}
.project-text{
    /* border: 2px solid black; */
    height: 15vh;
}

.project-img{
    /* border: 2px solid purple; */
    height: 50vh;
    display: flex;
 
   
}

.images img{
    flex: 2;
    width: 100%;
    height: 100%;
    padding: 0px 5px;

}

.project-text h1{
    height: 15vh;
    font-size: 33px;
    margin: 20px;
    padding-top: 30px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.images a{
    text-decoration: none;
}
.images button{
    width: 50%;
    text-align: center;
    height: 6vh;
    background-color: blue;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 12px rgba(83, 83, 83, 0.3);
    outline: none;
    border: none;
    position: relative;
    top: -50px;
     left: 55px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.images button:hover{
    width: 50%;
    text-align: center;
    height: 6vh;
    background-color: red;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 12px rgba(83, 83, 83, 0.3);
    outline: none;
    border: none;
    position: relative;
    top: -50px;
     left: 55px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* -------PROJECTS ENDS HERE */
/* ----------------EDUCATION AND EXPERIENCE STARTS HERE*/

.eduexp{
    /* border: 2px solid red; */
    height: 75vh;
    display: block;
}

.eduexp-top{
    height: 15vh;
}
.eduexp-text h1{
    font-size: 33px;
    margin: 15px;
  
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.eduexp-bottom{
    height: 55vh;
    display: flex;
}

.eduexp-bottom-left{
    border: 4px solid blueviolet;
    flex: 3;
}
.eduexp-bottom-left h1{
    
    color: white;
    border: 2px solid red;
    height: 40px;
    padding-top: 5px;
    width: 35%;
    margin-left: 284px;
    text-align: center;
    background-color:#145dac;
    font-size: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.eduexp-bottom-right{
    border: 4px solid red;
    flex: 3;

}
.eduexp-bottom-right h1{
    color: white;
    border: 2px solid red;
    height: 40px;
    padding-top: 5px;
    width: 35%;
    background-color: rgb(46, 46, 46);
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.education-details{
    border: 2px solid blue;
    margin-top: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.education-details h3{
border: 2px solid red;

font-size: 18px;
}

.education-details p{
    border: 2px solid purple;
    color: rgb(66, 65, 65);
    font-size: 14px;
}

.education-details h4{
    border: 2px solid goldenrod;
    color: rgb(66, 65, 65);

}


.experience-details{
    border: 2px solid blue;
    margin-top: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.experience-details h3{
    border: 2px solid red;
    
    }
    
.experience-details p{
        border: 2px solid purple;
        color: rgb(66, 65, 65);
        font-size: 14px;
}
    
.experience-details h4{
        border: 2px solid goldenrod;
        color: rgb(66, 65, 65);

}
/* EDUCATION AND EXPERIENCE ENDS HERE */







































/* ----------MEDIA QUERY */
@media (max-width: 600px){
    
/* NAVIGATION START HERE */

label{
    display: block;
    cursor: pointer;
}

.logo{
    float: left;
    margin: 0px;
    height: 65px;
    padding: 0px 5px;
}
.logo svg{
    width: 20px;
    height: 15px;
}

.menu{
    text-align: center;
    width: 100%;
    display: none;

}
.menu a{
    display: block;
    color: blue; 
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 100%;
}
.menu a:hover{
    color: red;
}
#toggle:checked + .menu{
    display: block; 

}

/* NAVIGATION ENDS HERE */

/* ----------PROFILE STARST HERE */
.profile{
    margin-top: -20px;
    display:none;
 }
 .profile h1{
     text-align: center;
     color: blue;
     font-size: 20px;
     display: none;
 }
 
 
 
 
 /* ----------PROFILE ENDS HERE */
 
 /* --------------SUB-DIV STARTS HERE */
 .sub-div{
 
     height: 1500vh;
     background-color: white;
     margin: 0px 10px;
     box-shadow: rgb(158, 167, 177 ,0.3) ;
     position: relative;
     z-index: -2;
 }
 
 
 /* --------------SUB-DIV ENDS HERE */
 /* -------------BANNNER STARTS HERE */
.banner img {
    width: 100%;
    height: 100%;
    margin-top: 48%;
   
}
.banner-text{
    width: 70%;
    position: absolute;
    top: 200px;
    left: 10px;
    color: cornsilk;
}
.banner-text h1{
    font-size: 14px;
}
.banner-text p{
    font-size: 10px;
    line-height: 1.0rem;
    padding: 5px 0px;
}
.banner-text button{
    font-size: 8px;
    padding: 3px;
    background: transparent;
    border: 2px solid white;
    color: cornsilk;
}
/* --------------BANNER ENDS HERE */

/* ---------------ABOUT PAGES STARTS HERE */
.about{
    display: block;
}
.abouttext{
    display: block;

}
.abouttext-first h1{
    font-size: 20px;
}
.abouttext-second h4{
    font-size: 16px;
}
.abouttext-third p{
    font-size: 10px;
}

.abouttext-button button{
    font-size: 10px;
}
.aboutimg{
    display: block;
    margin-left: 20px;
    width: 75%;
    height: 100%;
}
/* ---------------ABOUT PAGES ENDS HERE */

/* --------------SERVICES STARTS HERE */


.services{
    
    height: 115vh;
    background-color: rgba(128, 128, 128, 0.111);
    display: block;
    position: relative;
    top: 350px;

}

.servicetext h1{
    margin-left: 20px;
    font-size: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.servicetext-sub{
    margin: 20px;
    display: block;
    width: 100%;
}
.servicetext-sub-three{
    display: block;
    box-shadow: 2px 2px 12px rgba(83, 83, 83, 0.2);
    margin-bottom: 25px;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.service-detail{
height: 30vh;


}
.service-detail-icon{

}
.service-detail-header h1{
    font-size: 13px;
    text-align: center;

}
.service-detail-text{
    font-size: 10px;
    line-height: 1.3rem;
    text-align: center;
    padding: 0px 5px;
}



/* --------------SERVICES ENDS HERE */
/* ---------SKILlS STARTS HERRE */


.skill{
    background-color: white;
    display: block;
    position: relative;
    top: 380px;
 
}

.skill-left{
    /* border: 2px solid red; */
 display: block;
    margin: 20px 10px 20px 15px;
}
.skill-right{
    display: block;
    margin: 20px;


}
.skill-left-first h1{
    font-size: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skill-left-second{
    margin-top: 5px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    line-height: 1.3rem;
    color: grey;
}
.skill-left-third{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

.skill-right{
    margin: 40px 10px 20px 15px;
}
.skill-right-first{
    display: flex;
    height: 22vh;
   margin-top: 0px;
}
.skill-right-first-box{
    flex: 2;
    text-align: center;
}
.skill-right-first-box img{
    width: 35%;
   
}
.skill-right-first-box h1{
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skill-right-first-box p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skill-right-second{
    margin: 0px;
    
}
.skill-right-second p{
    color: grey;
    font-size: 11px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.3rem;
    margin: 0px;
}
/* ----SKILLS ENDS HERE */

/* -------------PROJECTS STARTS HERE */
.project{
    background-color: rgba(128, 128, 128, 0.111);
    display: block;
    position: relative;
    top: 520px;
   height: 900vh;
}
.project-text h1{
    font-size: 20px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;
}
.project-img{
display: block;
}
.project-text h1{
    padding-top: 30px;
}
.images img{
    flex: 2;
    width: 100%;
    margin-bottom: 10px;
   
}
.images a{
    text-decoration: none;
}
.images button{
    width: 50%;
    text-align: center;
    height: 6vh;
    background-color: blue;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 12px rgba(83, 83, 83, 0.9);
    outline: none;
    border: none;
    position: relative;
    top: -150px;
     left: 90px;
 
}
.images button:hover{
    width: 50%;
    text-align: center;
    height: 6vh;
    background-color: red;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 12px rgba(83, 83, 83, 0.9);
    outline: none;
    border: none;
    position: relative;
    top: -150px;
    left: 90px;
}
/* -------------PROJECTS ENDS HERE */

/* ----------------EDUCATION AND EXPERIENCE STARTS HERE
















/* EDUCATION AND EXPERIENCE ENDS HERE */

}